[submodule "BigDL"]
path=BigDL
url = https://github.com/intel-analytics/BigDL
[submodule "data-science-ipython-notebooks"]
path=data-science-ipython-notebooks
url = https://github.com/donnemartin/data-science-ipython-notebooks
[submodule "GPU-accelerated_relational_data_mining_on_single_nodes"]
	path = GPU-accelerated_relational_data_mining_on_single_nodes
	url = https://github.com/Sapphirine/GPU-accelerated_relational_data_mining_on_single_nodes
